<div class="container company-container">
    <div class="row">
        <div>
            <button type="button" class="btn btn-base-color" (click)="openVacancyModal()">
                <i class="bi bi-plus"></i>
                vacature toevoegen
            </button>
        </div>
        
    </div>
    <div class="row table-row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="table-header">Name</th>
            <th scope="col" class="table-header">Adres</th>
            <th scope="col" class="table-header">Vacatures</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let company of companyVacancyList">
            <td class="table-body companyName">{{ company.companyName }}</td>
            <td class="table-body">{{ company.companyAddress }}</td>
            <td class="table-body">
              <ul>
                <li *ngFor="let vacancy of company.vacancies">
                  {{ vacancy.vacancyTitle }} - {{ vacancy.vacancyDescription }}
                </li>
              </ul>
            </td>
            <td>
              <div>
                <i class="bi bi-pencil-fill" (click)="openCompany()"></i> 
              </div>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

<app-vacancy-modal></app-vacancy-modal>