.company-container {
  padding-top: 50px;

  .table-row {
    padding-top: 25px;

    .table-header {
      color: #2f1e45;
      font-size: 25px;
    }

    .table-body {
      color: #2f1e45;

      ul {
        list-style-type: circle;
      }
    }
  }
}
