/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-base-color {
    color: #F7FDFD;
    background-color: #00B9B0;
}

.validation-alert {
    color: #EE2170
}
