<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  [ngClass]="{ show: showModal }"
  [ngStyle]="{ display: showModal ? 'block' : 'none' }"
>
  <div class="modal-dialog" role="document">
    <form [formGroup]="vacatureForm" (ngSubmit)="saveVacature()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Vacature toevoegen</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="closeModal()"
          ></button>
        </div>
        <div class="modal-body">
          <div>
            <div class="mb-3">
              <label for="companyList" class="form-label">Bedrijfsnaam</label>
              <input
                class="form-control"
                list="companyListOptions"
                id="companyList"
                placeholder="typ om te zoeken..."
                formControlName="companyName"
              />
              <div *ngIf="vacatureForm.controls.companyName.invalid && (vacatureForm.controls.companyName.dirty || vacatureForm.controls.companyName.touched)" class="validation-alert" role="alert">
                <div *ngIf="vacatureForm.controls.companyName.errors?.['required']">Bedrijf is verplicht.</div>
              </div>
              <datalist
                id="companyListOptions"
                *ngFor="let company of companyList"
              >
                <option
                  *ngFor="let company of companyList"
                  [value]="company.companyName"
                ></option>
              </datalist>
            </div>
            <div class="mb-3">
              <label for="vacancyName" class="form-label">Titel</label>
              <input
                type="text"
                class="form-control"
                id="vacancyName"
                formControlName="name"
              />
              <div *ngIf="vacatureForm.controls.name.invalid && (vacatureForm.controls.name.dirty || vacatureForm.controls.name.touched)" class="validation-alert" role="alert">
                <div *ngIf="vacatureForm.controls.name.errors?.['required']">title is verplicht.</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="descriptionVacancy" class="form-label"
                >Omschrijving</label
              >
              <textarea
                class="form-control"
                id="descriptionVacancy"
                rows="3"
                formControlName="description"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeModal()"
          >
            Terug
          </button>
          <button type="submit" class="btn btn-base-color">Opslaan</button>
        </div>
      </div>
    </form>
  </div>
</div>
